 .u-section-1 {
  background-image: none;
  min-height: 884px;
}

.u-section-1 .u-image-1 {
  height: 566px;
  filter: brightness(0.75);
  margin-top: -11px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -377px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 1.1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 18px 192px 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: 58px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 22.5px);
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 365px;
  --gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  line-height: 1;
  font-size: 1.875rem;
  margin: 25px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  line-height: 1;
  font-size: 1.875rem;
  margin: 25px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  line-height: 1;
  font-size: 1.875rem;
  margin: 25px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: normal;
  margin: 18px 0 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  line-height: 1;
  font-size: 1.875rem;
  margin: 25px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: normal;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 92px;
    margin-right: 92px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 301px;
    grid-gap: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1148px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 15px);
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 645px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1799px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1028px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 134px 167px 0 auto;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0 570px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 564px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 465px;
  height: 465px;
  background-image: url("images/ghjj.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 564px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 6rem;
  margin: 124px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 674px;
  }

  .u-section-2 .u-text-2 {
    width: 266px;
    margin-left: 370px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 465px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
    height: 410px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-2 .u-text-3 {
    font-size: 5rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 454px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 150px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 356px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
    margin-left: 274px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 421px;
    height: 421px;
    margin-top: -17px;
    margin-bottom: -17px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 105px;
    margin-left: 74px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 320px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }
} .u-section-3 {
  min-height: 500px;
}

.u-section-3 .u-gallery-1 {
  height: 500px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  --gap: 0px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 412px;
  }

  .u-section-3 .u-gallery-1 {
    height: 412px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-gap: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1262px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1262px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2841px;
  }

  .u-section-3 .u-gallery-1 {
    height: 3786px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1789px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2384px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  min-height: 877px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2)  + 504px);
  height: 234px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: -404px auto -110px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 256px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  min-height: 512px;
  background-image: url("images/ghhhj-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 512px;
  background-image: url("images/dry-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 267px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 30px 30px 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 256px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.75rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 523px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 103px;
  width: 103px;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 13px 0 0 56px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 786px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2)  + 504px);
    height: 203px;
    margin-top: 55px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -373px;
    margin-bottom: -115px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-4 .u-image-1 {
    min-height: 422px;
  }

  .u-section-4 .u-image-2 {
    min-height: 422px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 211px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 431px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 44px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1740px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2)  + 504px);
    height: 254px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -176px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-4 .u-image-1 {
    min-height: 690px;
  }

  .u-section-4 .u-image-2 {
    min-height: 516px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 289px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 426px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 379px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2087px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2)  + 504px);
    margin-top: -28px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: -28px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 517px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 774px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 342px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1510px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-top: 23px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -373px;
    margin-bottom: -95px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-4 .u-image-1 {
    min-height: 299px;
  }

  .u-section-4 .u-image-2 {
    min-height: 447px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 92px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 127px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 457px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 44px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('images/fgfgfg-min.jpg');
}

.u-section-5 .u-sheet-1 {
  min-height: 765px;
}

.u-section-5 .u-group-1 {
  width: 745px;
  min-height: 489px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 222px auto 54px 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 33px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 170px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 258px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 754px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 634px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 30px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  margin: 30px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 634px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-6 .u-image-1 {
  width: 467px;
  height: 574px;
  object-position: 50% 100%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-6 .u-shape-1 {
  width: 288px;
  height: 288px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -431px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 604px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 604px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-6 .u-image-1 {
    width: 320px;
    height: 472px;
  }

  .u-section-6 .u-shape-1 {
    width: 176px;
    height: 178px;
    margin-top: -329px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-6 .u-shape-1 {
    width: 293px;
    height: 293px;
    margin-top: -382px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 443px;
  }

  .u-section-6 .u-image-1 {
    width: 256px;
    height: 383px;
  }

  .u-section-6 .u-shape-1 {
    width: 159px;
    height: 159px;
    margin-top: -293px;
  }
} .u-section-7 {
  background-image: url("images/dfgrey-min.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 833px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 557px;
  margin: 60px auto 60px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 246px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 28px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 192px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-2 {
  padding: 10px;
}

.u-section-7 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  padding: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 192px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-3 {
  padding: 10px;
}

.u-section-7 .u-icon-2 {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  padding: 0;
}

.u-section-7 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 20px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 192px;
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-4 {
  padding: 10px 10px 30px;
}

.u-section-7 .u-icon-3 {
  height: 79px;
  width: 79px;
  margin: 0 auto;
  padding: 12px;
}

.u-section-7 .u-text-6 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 20px auto 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 192px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-5 {
  padding: 10px 10px 30px;
}

.u-section-7 .u-text-8 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Ubuntu, sans-serif;
  margin: 24px auto 0;
}

.u-section-7 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 68px;
  margin: 23px auto 0;
}

.u-section-7 .u-icon-4 {
  height: 100%;
}

.u-section-7 .u-icon-5 {
  height: 100%;
}

.u-section-7 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 508px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 445px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 160px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 160px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 180px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    background-position: 83.75% 100%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 302px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 474px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 234px;
  }
}